# Xcode
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*.xcworkspace
!default.xcworkspace
Carthage/Build


#MAC
.DS_Store


#CocoaPods
Pods
!Podfile
!Podfile.lock


# Bundler
.bundle
*.ipa

#Custom
ViewController.swift
SOKitLoginResponse.swift
SOKitConfig.swift



